
<div id="welcome" ng-hide="atLeastOneList()">
  <h1>Hi There!!</h1>
  <h1>Looks like you don't have any lists</h1>
  <p>To get started create your first list</p>

  <form ng-submit="addList()">
    <input type="text" placeholder="Add New List" ng-model="formData.newList">
    <input type="submit" class="btn">
  </form>
</div>


<div id="lists" ng-show="atLeastOneList()">
  <div>  
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="list in lists" ng-class="{ active: listIsActive(list.id) }">
        ({{list.links.length}}) 
        <a ng-href="#/list/{{list.id}}">{{ list.title }}</a>        
        <a class="remove" href="" ng-click="removeList(list.id)">Delete</a> 
      </li>
    </ul>

   <div ng-controller="listModalCtrl">
      <script type="text/ng-template" id="newCollectionContent.html">
          <form name="formNewList" ng-submit="submit()">
            <div class="modal-header"><h3 class="modal-title">Add a New Collection</h3></div>
            <div class="modal-body">
                <label for="listName">Name</label>
                <input type="text" name="listName" placeholder="Add New List" ng-model="formData.listName">
                <br>
                <label for="listDesc">Description</label>
                <input type="text" name="listDesc" placeholder="Add a description" ng-model="formData.listDesc">
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Add</button>
              <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
            </div>
          </form>
      </script>
      <a class="btn btn-default" ng-click="open()">+ Add Collection</a>
    </div>

    <a href="" ng-click="reset()">Reset</a><br><br>
    
  </div>
</div>


<div id="links" ng-show="atLeastOneList()" ng-controller="myLinks">
    <div class="no-links" ng-show="!currentListId">
      Select or Create a list on the left to get started!
    </div>
    <div ng-show="currentListId">
      <h2>{{listTitle()}}</h2>
      <h5>{{listDescription()}} </h5>
      
      <div class="link-header cf">
        <form name="linkForm" ng-submit="addLink()" class="new-link">
          <input type="text" name="link" placeholder="Add New URL" ng-model="formData.newLink">
          <input type="submit" class="btn btn-primary">
        </form>    
        <div class="link-filters">
          <label>Filter: </label>
          <input type="text" ng-model="linkSearch">
          <label>Sort By: </label>
          <select>
            <option>New</option>
            <option>Title</option>
          </select>
        </div>
      </div>
      <ul class="list-group">
        <li ng-repeat="link in listLinks | filter : linkSearch" class="list-group-item">
          <a href="{{link.title}}">{{link.title}}</a>
          <a class="remove pull-right" href="" ng-click="removeLink(link)">X</a>
          <p class='pull-right date'>{{link.created | date}}<p>

        </li>
      </ul>
    
    </div>  
</div>